# Virtual environment
venv/
env/
*.venv

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Django
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
*.log

# Environment variables / secrets
.env

# Editor/OS
.vscode/
.idea/
.DS_Store
Thumbs.db
.env
backup_data.json
staticfiles/
protected_media/
