asgiref==3.12.1
boto3==1.37.0
certifi==2026.7.22
charset-normalizer==3.4.9
dj-database-url==3.1.2
Django==5.2.16
django-storages==1.14.4
gunicorn==26.0.0; sys_platform != "win32"
idna==3.18
packaging==26.3
pillow==12.3.0
psycopg2-binary==2.9.12
pypdf==6.14.2
python-decouple==3.8
razorpay==2.0.1
requests==2.34.2
sqlparse==0.5.5
tzdata==2026.3
urllib3==2.7.0
whitenoise==6.12.0
