{% load static %}
<nav class="bg-black text-white flex items-center justify-between px-10 py-4">

    <div class="flex items-center">
        <a href="{% url 'home' %}">
            <img src="{% static 'core/assets/logo.png' %}" alt="Deploynix Logo" class="h-20">
        </a>
    </div>

    <div class="flex gap-10 text-base">
        <a href="{% url 'job_vacancies' %}" class="hover:text-red-400">Job Vacancy</a>

        <div class="nav-dropdown">
            <a href="#" class="hover:text-red-400">Features</a>
            <div class="nav-dropdown-menu">
                <a href="#" class="nav-dropdown-item">✓ Smart Job Matching</a>
                <a href="#" class="nav-dropdown-item">✓ Resume Builder</a>
                <a href="#" class="nav-dropdown-item">✓ AI Interview Practice</a>
            </div>
        </div>

<div class="nav-dropdown">
    <a href="{% url 'internships' %}" class="hover:text-red-400">Internships</a>
    <div class="nav-dropdown-menu">
        <a href="#" class="nav-dropdown-item">Part-time</a>
        <a href="#" class="nav-dropdown-item">Full-time</a>
        <a href="#" class="nav-dropdown-item">Remote</a>
    </div>
</div>

<a href="{% url 'walkin_jobs' %}" class="hover:text-red-400">Walk-in</a>

        <div class="nav-dropdown">
            <a href="#" class="hover:text-red-400">About Us</a>
            <div class="nav-dropdown-menu">
                <p class="nav-dropdown-text">We help students and professionals get hired faster.</p>
            </div>
        </div>
    </div>
    <div class="flex items-center gap-4">
        {% if user.is_authenticated %}
        {% if user.jobseeker_profile %}
        <a href="{% url 'my_applications' %}" class="hover:text-red-400 text-sm mr-2">My Applications</a>
        <a href="{% url 'saved_jobs_list' %}" class="hover:text-red-400 text-sm mr-2">Saved Jobs</a>
        <a href="{% url 'ats_checker' %}" class="hover:text-red-400 text-sm mr-2">ATS Checker</a>

        
        <a href="{% url 'edit_profile' %}" class="text-sm hover:text-red-400">Hi, {{ user.username }}</a>
        {% else %}
        <a href="{% url 'company_profile' %}" class="text-sm hover:text-red-400">Hi, {{ user.username }}</a>
        {% endif %}
        {% if user.is_superuser %}
        <a href="{% url 'control_panel' %}" class="hover:text-red-400 text-sm mr-2">Admin Panel</a>
        {% endif %}
        <a href="{% url 'logout' %}" class="border border-white px-4 py-2 rounded text-sm hover:text-red-400">Logout</a>
        {% else %}
        <a href="{% url 'employer_login' %}" class="border border-white px-4 py-2 rounded text-sm">For Employers</a>
        <a href="{% url 'job_seeker_login' %}" class="border border-white px-4 py-2 rounded text-sm">Job Seekers</a>
        <a href="{% url 'signup' %}" class="bg-red-600 hover:bg-red-700 px-6 py-3 rounded font-semibold">Sign Up</a>
        {% endif %}
    </div>

</nav>